extends layout

block content
    h1 An application requests access to your data!
    form(action="",method="POST")
        input(type="hidden",name="challenge",value=challenge)
        input(type="hidden",name="_csrf",value=csrfToken)

        if client.logo_uri
            img(src=client.logo_uri)

        p.
            Hi #{user}, application <strong>#{client.client_name || client.client_id}</strong> wants access resources on your behalf and to:

        div(class="form-group form-check")
            each scope in requested_scope
                input(type="checkbox",id=scope,value=scope,name="grant_scope", class="form-check-input")
                label(for=scope, class="form-check-label") #{scope}
                br

        p.
            Do you want to be asked next time when this application wants to access your data? The application will
            not be able to ask for more permissions without your consent.
        ul
            if client.policy_uri
                li
                    a(href=client.policy_uri) Policy
            if client.tos_uri
                li
                    a(href=client.tos_uri) Terms of Service
        div(class="form-group form-check")
            input(type="checkbox",id="remember",name="remember",value="1", class="form-check-input")
            label(for="remember", class="form-check-label") Do not ask me again

        button(type="submit", id="accept", name="submit", class="btn btn-primary") Allow access
        button(type="submit", id="reject", name="submit", class="btn btn-outline-secondary") Deny access
